table{
    border:1px solid white;
    border-collapse: collapse ;
    padding: 30px;
    margin:50px;
    width: 100%;
    row-gap:20px;
    column-gap: 10px;
}
th,td{
    border: 1px solid white;
    text-align: center;
}